{% extends "overlays/overlay_base.html" %}

{% block page_style -%}
    <style>
        #centered_title {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
        }

        #title {
            background-color: {{ title_color }};
            height: auto;
            width: auto;
            font-size: {{ title_size }};
            color: {{ title_text_color }};
            padding: 10px;
        }
    </style>
{% endblock %}

{% block page_content %}
    <div id="centered_title">
        <div id="title">{{ title }}</div>
    </div>
{% endblock %}